/* styles.css */

body {
 background-color: #FCFDC0;
}
h1 {
 color: #09902D;
 text-align: center;
 font: italic 200% fantasy;
}
p {
 background-color: #FFFF33;
 color: #333300;
 text-align: right;
 border: 3px groove #FFFF33;
}
