/* styles.css */

body {
 background-color: #FCFDC0;
}
h1 {
 color: #D3204A;
 text-align: center;
 font: italic 200% fantasy;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
td, th {
  border: 5px solid #D3204A;
  text-align: left;
  padding: 10px;
}
